<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isGPSAllowed</key>
	<string>NO</string>
	<key>isCameraAllowed</key>
	<false/>
	<key>isMapUpdated</key>
	<false/>
	<key>isColdStart</key>
	<true/>
</dict>
</plist>
